# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual environments
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data
data/raw/
data/processed/
data/external/

# Models
models/

# Logs
logs/

# OS files
.DS_Store
Thumbs.db
